.players-list{
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}
/*---------------------------------- Add player ----------------------------------------------*/
html, body, .container {
    margin: 0;
    height: 100%;
    width: 100%;
}
ul, li {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    -webkit-perspective: 800px;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 100%;
    -webkit-transform-style: preserve-3d;
}

.new-item-container{
    -webkit-perspective: 800px;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 100%;
    -webkit-transform-style: preserve-3d;
}
.new-item, .front, .back, .item{
    width: 100%;
    height: 150px;
}
.new-item, .item{
    -webkit-transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
}
.item .front{
    background: green;
    -webkit-transition: 0.3s;
    z-index: 1;
    -webkit-transform: rotateX(180deg);
}
.item .back{
    background: red;
    border: 1px solid black;
    z-index: 2;
    -webkit-transition: 0.3s;
    -webkit-transform: rotateX(0deg);
}
.item.rotate .back{
    -webkit-transform: rotateX(180deg);
}
.item.rotate .front{
    -webkit-transform: rotateX(0deg);
}
.new-item .front {
    background: green;
    -webkit-transition: 0.3s;
    z-index: 2;
    -webkit-transform: rotateX(0deg);
}
.new-item .back {
    -webkit-transition: 0.3s;
    color: black;
    background: red;
    -webkit-transform: rotateX(180deg);
}
.new-item.rotate .front {
    -webkit-transform: rotateX(180deg);
}
.new-item.rotate .back {
    -webkit-transform: rotateX(0deg);
}