<div class="page">
    <div class="page-content scroll-view">
        <div class="page-scroll-body">
            <div class="add-player-container">
                <div class="add-player-rectangle">
                    <div class="top hidden">
                        <button class="add">Add</button>
                        <button class="cancel">Cancel</button>
                    </div>
                </div>
            </div>
            <ul class="players-list">
                <li class="add-player player">Add Player</li>
            </ul>
        </div>
    </div>
</div>