{{# console.log('----------------------------------------RENDER------------------------')}}
<ul class="list">
    <div class="new-item-container">
        <div class="new-item">
            <div class="front">
                <button class="add">Add</button>
                <button class="cancel">Cancel</button>
                <div class="slider">
                    <div class="thumb"></div>
                </div>
                <div class="rate">0</div>
                <label>Name</label>
                <input class="name" type="text"/>
            </div>
            <div class="back">
                <h1>BACK</h1>
            </div>
        </div>
    </div>
    {{# if(model.length) { }}
    {{# _(model).each(function(player, index) { }}
        <li class="player">
            <div class="item {{ player.class }}" data-index="{{ index }}" data-id="{{ player.id }}">
                <div class="back">
                    <h1>BACK</h1>
                </div>
                <div class="remove">REMOVE</div>
                <div class="front">
                    <button class="edit">Edit</button>
                    <div class="slider">
                        {{# var rate = Math.round( player.rate * RAD.core.getView('view.players_list').sliderCoef);}}
                        <div class="thumb" style="-webkit-transform: translateX({{ rate }}px);"></div>
                    </div>
                    <div class="rate">{{ player.rate }}</div>
                    <label>Name</label>
                    <input class="name" type="text" value="{{ player.name }}"/>
                </div>
            </div>
        </li>
    {{# }); }}
    {{# } }}
</ul>
<div class="fake"></div>